/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my styles below*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');


:root{
    --font-size: 16px;
    --fonts-base: Montserrat, sans-serif;
    --fonts-heading: "Molle", cursive;
    --ylw: #F6D64A;
    --teal: #55BCD5;
    --prpl: #9B26B0;
    --blu: #499BD2;
    --dk-gray: #222222;
    --lt-gray: #EAEAEA;
    --wte: #FFFFFF;
    --blk: #000000;
}

h1,h2,h3{
    font-family: var(--fonts-heading)
      
}
h4,p,q,small,nav,button,form{
    font-family: var(--fonts-base);
    line-height: 1.5em;
      
}


/*heading styles*/
header {
    background: linear-gradient(to bottom, var(--teal), var(--lt-gray));
}
main {
    background-color: var(--lt-gray);
}

header img{
    min-width: 220px;
}

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
   
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


header input{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header #menu-toggle{
    text-transform: uppercase;
}

header nav ul a:hover{
    background-color:var(--lt-gray);
}

header h1{
    padding-left: 3rem;
    font-size: 4em;
      
}

header p{
    padding-left: 3rem;
    font-size: 2em;
}


@media only screen and (max-width: 767px) {
    
    header #menu-toggle ul{
        display:none;
        /*
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
        */
    }
    header label{
        display: flex;
        position: absolute;
        background-color: var(--ylw);
        width:45%;
        height:70px;
        top:1rem;
        right:0;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin: 0%;
        padding: 0%;
    }

    header label:hover{
        background-color: var(--blk);
        color:var(--wte);
    }

    #toggle:checked+label {
        background-color:var(--blk);
        color:var(--wte);
        width:100%;
    
    } 

    #toggle:checked ~ ul {
        position: fixed;
        top: calc(70px + 1em);
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    #toggle:checked ~ ul li{
        width:100%;
    }

    #toggle:checked ~ ul a{
        display: flex;
        background-color:var(--teal);
        border-bottom:2px solid var(--blk);
        text-decoration: none;
        color:var(--blk);
        font-weight: bold;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 150px;
        font-size: 2em;
    }
    #toggle:checked ~ ul a:hover{
        background-color:var(--blu);
    }
}

@media only screen and (min-width: 768px){
    header{
        display:grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas:
        "logo title"
        "logo slogan"
        "menu menu"
        ;
    }
    header img{
        grid-area: logo;
        margin-top: 40px;
        justify-self: end;
        height: 75%;
    }
    header h1{
        grid-area: title;
        margin-top: 40px;
        font-size: 3.5em;
        margin-left: -30px;
    }
    header p{
        grid-area: slogan;
        font-weight: lighter;
        font-size: 1.5em;
        margin-top:-30px;
        margin-bottom: 20px;
        margin-left: -30px;
        padding-right: 10px;
    }
    header nav{
        grid-area: menu;
    }
    header nav :where(label, input){
        display: none;
    }
    header nav ul{
        display: flex;
        gap:1.5rem;
        padding-left: 60px;
        align-items: center;
        justify-content: left;
    }
    header nav ul a{
        display: flex;
        background-color:var(--wte);
        text-decoration: none;
        color: black;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        width:10rem;
        height: 50px;
        font-size: 1em;
    }
    li:first-child a{
        background-color:var(--ylw);
    }
}


@media only screen and (min-width: 1200px){
    header nav ul {
        position: absolute;
        top:0;
        right: 0;
        gap: 0.5rem;
    }

    header nav ul a {
        height: 30px;
    }
}


/*Intro styles*/


header{
    padding-bottom: 5rem;
}

#intro{
    display: grid;
    grid-template-areas: 
        "title"
        "description"
        "images"
        ;
    gap: 20px;
}

#intro #img-grid{
    display: grid;
    grid-template-areas:
        "img1"
        "img2"
        "img3"
        ;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1vw;
    grid-area: images;
    gap: 20px;
}

#intro h2{
    padding-left: 3rem;
    font-size: 4em;
    grid-area: title;
      
}

#intro p{
    padding-left: 3rem;
    font-size: 1.5em;
    line-height: 2em;
    grid-area: description;
}

#intro #img-grid img:nth-child(1) {
    grid-area: img1;
    width: 100vw;
    height: auto;
}
#intro #img-grid img:nth-child(2) {
    grid-area: img2;
    width: 100vw;
    height: auto;
}
#intro #img-grid img:nth-child(3) {
    grid-area: img3;
    height: 200vh;
    width: 200vw;
    overflow: hidden;
}
