/*styles author: Bradley Larkin*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*styles author: Bradley Larkin*/
/* my styles below*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');


:root{
    --font-size: 16px;
    --fonts-base: Montserrat, sans-serif;
    --fonts-heading: "Molle", cursive;
    --ylw: #F6D64A;
    --teal: #55BCD5;
    --prpl: #9B26B0;
    --blu: #499BD2;
    --dk-gray: #222222;
    --lt-gray: #EAEAEA;
    --wte: #FFFFFF;
    --blk: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

h1,h2,h3{
    font-family: var(--fonts-heading)
      
}
h4,p,q,small,nav,button,form{
    font-family: var(--fonts-base);
    line-height: 1.5em;
      
}


/*heading styles*/
header {
    background: linear-gradient(to bottom, var(--teal), var(--lt-gray));
}
main {
    background-color: var(--lt-gray);
}

header img{
    min-width: 220px;
}

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
   
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.sr-only{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


header input{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header #menu-toggle{
    text-transform: uppercase;
}

header nav ul a:hover{
    background-color:var(--lt-gray);
}

header h1{
    padding-left: 1rem;
    font-size: 4em;
      
}

header p{
    padding-left: 3rem;
    font-size: 2em;
}


@media only screen and (max-width: 767px) {
    
    header #menu-toggle ul{
        display:none;
        /*
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
        */
    }
    header label{
        display: flex;
        position: absolute;
        background-color: var(--ylw);
        width:45%;
        height:70px;
        top:1rem;
        right:0;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin: 0%;
        padding: 0%;
    }

    header label:hover{
        background-color: var(--blk);
        color:var(--wte);
    }

    #toggle:checked+label {
        position: fixed;
        background-color:var(--blk);
        color:var(--wte);
        width:100%;
        opacity: 90%;
    } 

    #toggle:checked ~ ul {
        position: fixed;
        top: calc(70px + 1em);
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        opacity: 90%;
    }

    #toggle:checked ~ ul li{
        width:100%;
    }

    #toggle:checked ~ ul a{
        display: flex;
        background-color:var(--teal);
        border-bottom:2px solid var(--blk);
        text-decoration: none;
        color:var(--blk);
        font-weight: bold;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 150px;
        font-size: 2em;
    }
    #toggle:checked ~ ul a:hover{
        background-color:var(--blu);
    }
}

@media only screen and (min-width: 768px){
    header{
        display:grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas:
        "logo title"
        "logo slogan"
        "menu menu"
        ;
    }
    header img{
        grid-area: logo;
        margin-top: 40px;
        justify-self: end;
        height: 75%;
    }
    header h1{
        grid-area: title;
        margin-top: 40px;
        font-size: 3.5em;
        margin-left: -30px;
    }
    header p{
        grid-area: slogan;
        font-weight: lighter;
        font-size: 1.5em;
        margin-top:-30px;
        margin-bottom: 20px;
        margin-left: -30px;
        padding-right: 10px;
    }
    header nav{
        grid-area: menu;
    }
    header nav :where(label, input){
        display: none;
    }
    header nav ul{
        display: flex;
        gap:1.5rem;
        padding-left: 60px;
        align-items: center;
        justify-content: left;
    }
    header nav ul a{
        display: flex;
        background-color:var(--wte);
        text-decoration: none;
        color: black;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        width:10rem;
        height: 50px;
        font-size: 1em;
    }
    li:first-child a{
        background-color:var(--ylw);
    }
}


@media only screen and (min-width: 1200px){
    header nav ul {
        position: absolute;
        top:0;
        right: 0;
        gap: 0.5rem;
    }

    header nav ul a {
        height: 30px;
    }
}


/*Intro styles*/


header{
    padding-bottom: 5rem;
}

#intro{
    display: grid;
    grid-template-areas: 
        "title"
        "description"
        "images"
        ;
    gap: 20px;
}

#intro #img-grid{
    display: grid;
    grid-template-areas:
        "img1"
        "img2"
        "img3"
        ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: images;
    gap: 20px;
}

#intro h2{
    padding-left: 3rem;
    font-size: 4em;
    grid-area: title;
      
}

#intro p{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5em;
    line-height: 2em;
    grid-area: description;
}

#intro #img-grid img:nth-child(1) {
    grid-area: img1;
}
#intro #img-grid img:nth-child(2) {
    grid-area: img2;
}
#intro #img-grid picture {
    grid-area: img3;      
}


@media only screen and (max-width: 767px) {
    #intro #img-grid img:nth-child(1) {
        width: 100vw;
        height: auto;
    }
    #intro #img-grid img:nth-child(2) {
        width: 100vw;
        height: auto;
    }
    #intro #img-grid picture {
        transform: scale(2);
        transform-origin: top;
        overflow: hidden;
    }

}

@media only screen and (max-width: 500px) {
    #intro #img-grid picture {
        transform: scale(1);
    }
}

@media only screen and (min-width: 768px) and (max-width:1199px){
    #intro h2{
        padding-left: 5rem;
          
    }
    
    #intro p{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #intro #img-grid{
        grid-template-areas:
            "img2 img1"
            "img3 img3"
            ;
        grid-area: images;
        gap: 20px;
        padding-left: 5rem;
        padding-right: 5rem;
        grid-template-rows: 1fr 1fr;
    }
    #intro #img-grid img:nth-child(1) {
        width: 42vw;
    }
    #intro #img-grid img:nth-child(2) {
        width: 42vw;
    }
    #intro #img-grid picture img{
        width: 86vw !important;
        height: auto;
    }
}

@media only screen and (min-width: 1200px){
    #intro h2{
        padding-left: 5rem;
        height: auto;
    }
    #intro p{
        padding-left: 5rem;
        padding-right: 1rem;
        border: 5px solid black;
    }
    #intro{
        display: grid;
        grid-template-areas: 
            "title images"
            "description images"
            ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 1fr;
        border: 5px solid black;

    }
    #intro #img-grid{
        grid-template-areas:
            "img2 img1"
            "img3 img3"
            ;
        grid-area: images;
        gap: 20px;
        padding-left: 5rem;
        padding-right: 5rem;
        width: 40vw;
        grid-template-rows: 1fr 1fr;
        border: 5px solid black;
    }
    #intro #img-grid img:nth-child(1) {
        width: 20vw;
    }
    #intro #img-grid img:nth-child(2) {
        width: 20vw;
    }
    #intro #img-grid picture img{
        width: 42vw !important;
        height: auto;
    }

}

/*plan section styles*/

#intro{
    padding-bottom: 30px;
}

#plan{
    background-color: var(--ylw);
    padding-bottom: 30px;
}

#plan h3{
    padding-top: 3rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    font-size: 3em;
}

#main-content article #plan div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 15px;
}


    /*block display svgs*/
#main-content article #plan div section{
    display: block;
    background-color: var(--teal);
    width: 400px;
    height: 340px;
    border: 3px solid var(--wte);
    border-radius: 10px;
    margin: auto;
}

#main-content article #plan div section h4{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 10px;
    justify-self: center;
}

#main-content article #plan div section img{
    display: flex;
    padding-bottom: 50px;
    margin: auto;
}


@media only screen and (min-width: 768px){
    #main-content article #plan div section{
        border: 6px solid var(--wte);
    }
    #main-content article #plan div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;
    }
    #main-content article #plan div section{
        width: 350px;
    }
    #main-content article #plan div section h4{
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 1200px){
    #main-content article #plan div{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 90vw;
        max-width: none;
        padding-bottom: 50px;
    }
    #main-content article #plan div section img{
        height: 140px;
    }
    #main-content article #plan div section h4{
        font-size: 1.3em;
    }
    #main-content article #plan div section{
        display: block;
        background-color: var(--teal);
        width: 250px;
        height: 230px;
        border: 2px solid var(--wte);
    }
}



/*testimonials section styles*/



#testimonials {
    padding-bottom: 30px;
    background-color: var(--wte);
}

#testimonials h3 {
    padding-top: 3rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    font-size: 3em;
}


#main-content article #testimonials div {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#main-content article #testimonials div section {
    display: block;
    text-align: center;
}

#main-content article #testimonials div section img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    width: 45vw;
}

#main-content article #testimonials div section h4{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
    width: 60vw;
    text-align: center;
    margin: auto;
}

#main-content article #testimonials div section p {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}


q::before {
    content: "“";
}
  q::after {
    content: "”";
}


#main-content article #testimonials div section q {
    display: block;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    width: 68vw;
}


@media only screen and (min-width: 768px) {
    #main-content article #testimonials div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
    }

    #main-content article #testimonials div section {
        width: 350px;
    }

    #main-content article #testimonials div section img {
        width: auto;
    }

    #main-content article #testimonials div section h4 {
        width: 300px;
    }

    #main-content article #testimonials div section q {
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {

    #testimonials h3 {
        font-size: 2em;
    }

    #main-content article #testimonials div {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 95vw;
        max-width: none;
    }

    #main-content article #testimonials div section{
        width: 20vw;
    }

    #main-content article #testimonials div section img {
        height: 140px;
    }

    #main-content article #testimonials div section h4 {
        font-size: 1.5em;
        margin-top: 10px;
        width: auto;
    }

    #main-content article #testimonials div section p {
        font-size: 1.2em;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    #main-content article #testimonials div section q {
        font-size: 1.2em;
        padding-left: 3rem;
    }
}

/*about section styles*/

#about{
    background: var(--blu);
}

#about h3 {
    padding-top: 3rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    font-size: 3em;
}
#main-content article #about div {
    
    display: flex;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    gap: 0;
}

#main-content article #about div section {
    display: block;
    text-align: center;
    width: 160px;
    height: 150px;
    margin-bottom: 2rem;
}

#main-content article #about div section img {
    height: 100px;
    width: auto;
}

#main-content article #about div section h4{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    margin: 2px auto 0 auto;
    
}

#main-content article #about div section p {
    font-size: 1.2em;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 1199px){
    #main-content article #about div section:first-of-type p {
        font-size: 0;
        line-height: 1.4rem;
        text-align: center;
        margin: auto;
        position: relative;
        visibility: hidden;
    }
    
    #main-content article #about div section:first-of-type p::after {
        content: "1,405 miles sq";
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        right: 0;
        color: black; /* or inherit */
        text-align: center;
        visibility: visible;
    }

}


@media only screen and (min-width: 768px){

    #main-content article #about div {
    
        flex-wrap: nowrap;
        width: fit-content;

    }
}



@media only screen and (min-width: 1200px) {
    #main-content article #about div section {
        width: 200px;
        height: 200px;
    }
    #main-content article #about div section img {
        height: 120px;
        width: auto;
    }
    
    #main-content article #about div section h4 {
        width: auto;
        font-size: 1.5rem;
        text-align: center;
        margin: 2px auto 0 auto;
    }
    
    #main-content article #about div section p{
        font-size: 1rem;
    }
}

/* form styles*/

#contact{
    background-color: var(--wte);
}













/*footer section styles*/

footer{
    background-color: var(--lt-gray);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonts-base);
    padding-bottom: 10px;
    
}
footer p{
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}
footer a{
    color: var(--blk);
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: 0.05rem;
}











/*👉border: 5px solid black;👈*/